h1{ 
    color: black;
    font-family: 'helvetica neue', helvetica, sans-serif;
    letter-spacing: 1px;
    text-align: left;
    font-size: 20px;
}
canvas{
    background: rgb(118,146,186);
}

body{
    margin: 0px;
}

