h1{ 
    color: black;
    font-family: 'helvetica neue', helvetica, sans-serif;
    letter-spacing: 1px;
    text-align: left;
    font-size: 20px;
}
canvas{
    background: rgb(118,146,186);
    width: 100%;
    height: 100%;
}

body{
    margin: 0px;
}

html{
    border: 20px solid rgb(62,78,197);
}